- name: "Create the prometheus user"
  user:
    name: prometheus
    comment: "Prometheus"
  become: true

- import_tasks: node_exporter.yml
  when: '"node_exporter" in actions'

- import_tasks: redis_exporter.yml
  when: '"redis_exporter" in actions'

- import_tasks: postgres_exporter.yml
  when: '"postgres_exporter" in actions'

- import_tasks: blackbox_exporter.yml
  when: '"blackbox_exporter" in actions'

- import_tasks: statsd_exporter.yml
  when: '"statsd_exporter" in actions'

- import_tasks: elasticsearch_exporter.yml
  when: '"elasticsearch_exporter" in actions'
