- name: "Create the prometheus user"
  user:
    name: prometheus
    comment: "Prometheus"
  become: true

- name: "Create version folder"
  file:
    path: "/home/prometheus/node_exporter/{{ node_exporter_version }}"
    state: directory
    mode: 0700
  become: yes
  become_user: prometheus

- name: "Download the node_exporter file"
  get_url:
    url: "https://github.com/prometheus/node_exporter/releases/download/v{{ node_exporter_version }}/node_exporter-{{ node_exporter_version }}.linux-amd64.tar.gz"
    dest: "/home/prometheus/node_exporter/{{ node_exporter_version }}/node_exporter.tar.gz"
    mode: 0400
    checksum: "sha256:{{ node_exporter_checksum }}"
  become: yes
  become_user: prometheus

- name: stat extracted folder
  stat: path="/home/node_exporter/node_exporter/{{ node_exporter_version }}/node_exporter-{{ node_exporter_version }}.linux-amd64"
  register: node_exporter_extracted_folder_stat
  become: yes
  become_user: prometheus

- name: stat final folder
  stat: path="/home/prometheus/node_exporter/{{ node_exporter_version }}/node_exporter"
  register: node_exporter_folder_stat
  become: yes
  become_user: prometheus

- name: "Extract archive"
  unarchive:
    src: "/home/prometheus/node_exporter/{{ node_exporter_version }}/node_exporter.tar.gz"
    dest: "/home/prometheus/node_exporter/{{ node_exporter_version }}/"
    remote_src: yes
  when: node_exporter_extracted_folder_stat.stat.exists == False and node_exporter_folder_stat.stat.exists == False
  become: yes
  become_user: prometheus

- name: stat extracted folder
  stat: path="/home/prometheus/node_exporter/{{ node_exporter_version }}/node_exporter-{{ node_exporter_version }}.linux-amd64"
  register: node_exporter_extracted_folder_stat
  become: yes
  become_user: prometheus

- name: Move extracted folder to standard path
  command: mv /home/prometheus/node_exporter/{{ node_exporter_version }}/node_exporter-{{ node_exporter_version }}.linux-amd64 /home/prometheus/node_exporter/{{ node_exporter_version }}/node_exporter
  when: node_exporter_extracted_folder_stat.stat.exists
  become: yes
  become_user: prometheus

- name: Template out the service file
  template:
    src: node_exporter.service.j2
    dest: /etc/systemd/system/node_exporter.service
    mode: 0644
  become: yes
  notify:
    - reload systemd
    - restart node_exporter

- name: Enable node exporter
  systemd:
    enabled: yes
    name: node_exporter
  become: yes
