- name: "Create the prometheus user"
  user:
    name: prometheus
    comment: "Prometheus"
  become: true

- name: "Create version folder"
  file:
    path: "/home/prometheus/redis_exporter/{{ redis_exporter_version }}"
    state: directory
    mode: 0700
  become: yes
  become_user: prometheus

- name: "Download the redis_exporter file"
  get_url:
    url: "https://github.com/oliver006/redis_exporter/releases/download/v{{ redis_exporter_version }}/redis_exporter-v{{ redis_exporter_version }}.linux-amd64.tar.gz"
    dest: "/home/prometheus/redis_exporter/{{ redis_exporter_version }}/redis_exporter.tar.gz"
    mode: 0400
    checksum: "sha256:{{ redis_exporter_checksum }}"
  become: yes
  become_user: prometheus

- name: stat final file
  stat: path="/home/prometheus/redis_exporter/{{ redis_exporter_version }}/redis_exporter"
  register: redis_exporter_stat
  become: yes
  become_user: prometheus

- name: "Extract archive"
  unarchive:
    src: "/home/prometheus/redis_exporter/{{ redis_exporter_version }}/redis_exporter.tar.gz"
    dest: "/home/prometheus/redis_exporter/{{ redis_exporter_version }}/"
    remote_src: yes
  when: redis_exporter_stat.stat.exists == False
  become: yes
  become_user: prometheus

- name: Template out the service file
  template:
    src: redis_exporter.service.j2
    dest: /etc/systemd/system/redis_exporter.service
    mode: 0644
  become: yes
  notify:
    - reload systemd
    - restart redis_exporter

- name: Enable redis exporter
  systemd:
    enabled: yes
    name: redis_exporter
  become: yes
