DATA_SOURCE_NAME="user={{ postgres_exporter_connection_user }} dbname={{ postgres_exporter_connection_dbname }} host={{ postgres_exporter_connection_host }} sslmode={{ postgres_exporter_connection_ssl_mode }}"
