{% if postgres_exporter_data_source_uri is defined %}
DATA_SOURCE_URI={{ postgres_exporter_data_source_uri }}
DATA_SOURCE_USER={{ postgres_exporter_data_source_user }}
DATA_SOURCE_PASS={{ postgres_exporter_data_source_pass }}
{% else %}
DATA_SOURCE_NAME="user={{ postgres_exporter_connection_user }} dbname={{ postgres_exporter_connection_dbname }} host={{ postgres_exporter_connection_host }} sslmode={{ postgres_exporter_connection_ssl_mode }}"
{% endif %}
